Repository pohlai88/mythic: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, markdownlint-cli2 --fix, biome format --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write"],
  "*.{md,mdx,mdc}": ["markdownlint-cli2 --fix"],
  "*.{json,jsonc}": ["biome format --write"]
}

Add .env to .gitignore and remove from tracking
  .gitignore
Due: none

feat: Complete repository cleanup and AI context optimization
  docs/REPOSITORY_CLEANUP_REPORT.md
Due: markdownlint-cli2 --fix

chore: Clean up .vscode directory - remove 39 documentation files
  .vscode/BIOME_BEST_PRACTICES.md
  .vscode/BIOME_COMPLETE_CHECKLIST.md
  .vscode/BIOME_ENV_VARIABLES.md
  .vscode/BIOME_EXTENSION_INSTALLED.md
  .vscode/BIOME_OPTIMIZATION_ANALYSIS.md
  .vscode/BIOME_OPTIMIZATION_SUMMARY.md
  .vscode/BIOME_SETTINGS_UPDATE.md
  .vscode/CLEANUP_SUMMARY.md
  .vscode/ESLINT_PRETTIER_REMOVAL_SUMMARY.md
  .vscode/EXTENSION_DISCOVERY_SUMMARY.md
  .vscode/EXTENSION_RECOMMENDATIONS.md
  .vscode/EXTENSION_USAGE_GUIDE.md
  .vscode/EXTENSION_VALIDATION_REPORT.md
  .vscode/MARKDOWN_FORMATTER_FIX.md
  .vscode/MISSING_EXTENSIONS.md
  .vscode/PRETTIER_CONFLICT_RESOLVED.md
  .vscode/PRETTIER_REMOVAL_GUIDE.md
  .vscode/archive/ENV_LOCAL_VERIFICATION.md
  .vscode/archive/EXTENSION_INSTALLATION_REPORT.md
  .vscode/archive/EXTENSION_VALIDATION.md
  .vscode/archive/EXTENSION_VERIFICATION_REPORT.md
  .vscode/archive/FINAL_EXTENSION_STATUS.md
  .vscode/archive/FUNCTIONALITY_TEST_SUMMARY.md
  .vscode/archive/GITLENS_FIX_APPLIED.md
  .vscode/archive/GITLENS_TROUBLESHOOTING.md
  .vscode/archive/GIT_STATUS_REPORT.md
  .vscode/archive/MCP_CONFIGURATION_UPDATED.md
  .vscode/archive/MCP_SETUP_COMPLETE.md
  .vscode/archive/POWERSHELL_EXTENSION_STATUS.md
  .vscode/archive/README.md
  .vscode/archive/SUPABASE_CLI_INSTALLATION.md
  .vscode/archive/SUPABASE_CLI_MCP_VALIDATION.md
  .vscode/archive/SUPABASE_CONFIGURATION_COMPLETE.md
  .vscode/archive/SUPABASE_LOCAL_SETUP.md
  .vscode/archive/SUPABASE_MCP_CONFIGURATION.md
  .vscode/archive/SUPABASE_REMOTE_FINAL_STATUS.md
  .vscode/archive/SUPABASE_REMOTE_VERIFICATION.md
  .vscode/archive/SUPABASE_REMOTE_VERIFIED.md
  .vscode/archive/VALIDATION_COMPLETE.md
Due: markdownlint-cli2 --fix

docs: Add .vscode cleanup report
  docs/VSCODE_CLEANUP_REPORT.md
Due: markdownlint-cli2 --fix

feat: Restore Cursor writing capability with optimized rule loading
  .cursor/rules/000_master-cursor-defaults.mdc
  .cursor/rules/005_documentation-indexing-strategy.mdc
  .cursor/rules/010_nextjs-architecture.mdc
  .cursor/rules/010_planning.mdc
  .cursor/rules/013_security.mdc
  .cursor/rules/017_output-format.mdc
  .cursor/rules/020_tools-and-context.mdc
  .cursor/rules/020_typescript-standards.mdc
  .cursor/rules/022_documentation-governance.mdc
  .cursor/rules/030_code-style-and-format.mdc
  .cursor/rules/030_editing-discipline.mdc
  .cursor/rules/040_code-review.mdc
  .cursor/rules/050_terminal-safety.mdc
  .cursor/rules/060_security-secrets.mdc
  .cursor/rules/070_output-format.mdc
  .cursor/rules/080_reference-style.mdc
  .cursor/rules/090_large-repo-performance.mdc
  .cursor/rules/operational-rules.mdc
  .cursor/rules/zod-mandatory-enforcement.mdc
  .temp-docs/README.md
  docs/CURSOR_WRITING_CAPABILITY_RESTORED.md
  scripts/validate-docs-naming.ts
Due: biome check --write, markdownlint-cli2 --fix

docs(cleanup): batch-1 create control files and archive structure
  .cursor/rules/010_docs-directory-policy.mdc
  .cursor/rules/030_docs-edit-scope.mdc
  .cursor/rules/030_docs-output-format.mdc
  docs/_system/CONTRADICTIONS.md
  docs/_system/DECISIONS.md
  docs/_system/INVENTORY.md
  docs/_system/MIGRATION_PLAN.md
  docs/_system/STATUS_REPORT.md
  docs/_system/TAXONOMY.md
  docs/_system/file_inventory_raw.json
Due: markdownlint-cli2 --fix, biome format --write

docs(cleanup): batch-4 archive orphan analysis docs
  .cursor/archive/README.md
  .cursor/archive/analysis/REQUIREMENTS_VS_PROPOSAL_DIFF.md
  .cursor/archive/analysis/STRATEGY_OVERVIEW.md
  .cursor/archive/planning/MIGRATION_PLAN.md
Due: markdownlint-cli2 --fix

docs(cleanup): batch-7 update cursorignore for case-safety + archive
  .cursorignore
Due: none

docs(cleanup): phase-4 cutover and navigation complete
  README.md
  docs/README.md
  docs/_system/CLEANUP_REPORT.md
  docs/api/README.md
  docs/architecture/README.md
  docs/architecture/RFL_DOCTRINE_v1.0.md
  docs/governance/README.md
  docs/guides/README.md
  docs/reference/README.md
Due: markdownlint-cli2 --fix

docs(cleanup): add post-cleanup validation report
  .cursor/rules/003_operational-rules.mdc
  .cursor/rules/025_zod-mandatory-enforcement.mdc
  .cursor/rules/026_new-module-pattern-template-rules.mdc
  docs/_system/POST_CLEANUP_VALIDATION.md
Due: markdownlint-cli2 --fix

chore: add .env to .gitignore to prevent secret exposure
  .gitignore
Due: none
